.loop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


@media (max-width: 568px) {
    .loop{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 40px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    
}

@media (min-width: 569px) and (max-width: 767px) {
    .loop{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .loop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .loop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1194px) {
    .loop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}