.btn {
    border: solid 1px #ffffff3b;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
}
.btn:hover {
    background-color: #703BF7;
    color: #fff;
}
.btn.active {
    background-color: #703BF7;
}